<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AcciSense Driver Profile</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="header">
    AcciSense Emergency Profile
</div>

<div class="container">

    <div class="card">

        <div class="profile" id="profileIcon">👤</div>
        <div class="title" id="name">Loading...</div>

        <div class="info">
            <p id="phone"></p>
            <p id="vehicle"></p>
            <p id="blood"></p>
            <p id="emergency"></p>
        </div>

        <a id="callBtn"><button class="btn call">📞 Call Emergency Contact</button></a>
        <a id="notifyBtn"><button class="btn notify">📢 Notify Owner</button></a>
        <a id="reportBtn"><button class="btn report">⚠️ Report Accident</button></a>

        <div id="map">Loading map...</div>

        <div class="footer">
            AcciSense Smart Accident Detection System
        </div>

    </div>

</div>

<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>